.hero {
	background-image: url("../images/icon.jpg");
	height: 60vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #f1f;
}
.heroContainer{
	border: 1px solid #000;
	max-width: 70%;
	margin: 0 auto;
	position: relative;
	padding: 1.25em 2em;
	background-color: rgba(0, 0, 0, 1);
	text-align: center;
}
.heroInfo h1{
	font-size: 3em;
	margin-bottom: .5em;
	font-weight: 300;
	margin: 0;
	padding: 0;
}
.heroInfo p {
	font-size: 1.2em;
	letter-spacing: 0.08em;
}
